* {
	box-sizing: border-box;

	&:before, &:after {
		box-sizing      	: border-box;
	} // :before, :after
} // *

body {
	background : site-color('bgdark');
	color      : site-color('day');
	font       : $mainFont;
} //body

div{
	display: block;
}

// The defined function part has been put to functions.scss
#{headings()} {
	font 				        : $mainFont;
	line-height 				: 1.15;
	margin							: 2.75rem 0 1rem;
} //headings

h1 {
	margin-top 					: 0;
	font-size 					: 4.209em;
} // h1

h2 {
	font-size 					: 3.157em;
} // h2

h3 {
	font-size 					: 2.369em;
} // h3

h4 {
	font-size 					: 1.777em;
} // h4

h5 {
	font-size 					: 1.333em;
} // h5

p {
	margin              : 0 0 1.25em;
	
	&:last-child {
		margin-bottom     : 0;
	}
} //p

small, .text_small {
	font-size 					: 0.75em;
}

a {
	color 		       		: site-color('day');
	text-decoration     : none;
} // a

ul {
	list-style          : none;
	margin 			    		: 0;
	padding 		    		: 0;
} // ul

img {
	display             : block;
	max-width           : 100%;
} // img

figure {
	margin              : 0;
	padding             : 0;
} // figure

// Clearfix
.clearfix {
	&:after {
		content         	: '';
		display         	: table;
		clear           	: both;
	} // :after
} // .clearfix

.wrap {
	padding-left    		: 15px;
	padding-right   		: 15px;
} // .wrap

.outer_wrap {
	transition      	: all 0.35s ease-in-out;
	margin              : 0 auto;
	
	@include breakpoint($tablet) {
		max-width   			: 750px;
	} // bp($tablet)
	
	@include breakpoint($desktop) {
		max-width   			: 1000px; //1000
	} // bp($desktop)
	
	@include breakpoint($common) {
		max-width   			: 1300px; //1300
	} // bp($common)
	
	@include breakpoint($widescn) {
		max-width   			: 1845px; 
	} // bp($wide)
} // .outer_wrap