@font-face {
	font-family: 'ESBuildNeutral';
	src:	url('../fonts/ESBuildNeutral-Regular.woff2') format('woff2'),
				url('../fonts/ESBuildNeutral-Regular.woff') format('woff'),
				url('../fonts/ESBuildNeutral-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "ESBuildNeutral";
	src:	url('../fonts/ESBuildNeutral-Semibold.woff2') format('woff2'),
				url('../fonts/ESBuildNeutral-Semibold.woff') format('woff'),
				url('../fonts/ESBuildNeutral-Semibold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "ESBuildNeutral";
	src:	url('../fonts/ESBuildNeutral-Bold.woff2') format('woff2'),
				url('../fonts/ESBuildNeutral-Bold.woff') format('woff'),
				url('../fonts/ESBuildNeutral-Bold.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'LuckiestGuy';
	src:	url('../fonts/LuckiestGuy-Regular.woff2') format('woff2'),
				url('../fonts/LuckiestGuy-Regular.woff') format('woff'),
				url('../fonts/LuckiestGuy-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src:	url('../fonts/Montserrat-Regular.woff2') format('woff2'),
				url('../fonts/Montserrat-Regular.woff') format('woff'),
				url('../fonts/Montserrat-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'PressStart2P';
	src:	url('../fonts/PressStart2P.woff2') format('woff2'),
				url('../fonts/PressStart2P.woff') format('woff'),
				url('../fonts/PressStart2P.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}