.main_nav {
  position: relative;
  z-index: 20;
  padding: 20px 20px 0 0;

  .nav_list {
    display: flex;
    justify-content: flex-end;

    li {
      border-bottom:2px solid #fff;
      padding-bottom: 5px;

      a {
        @include transition(all 0.35s ease-in-out);
        color: site-color('day');
        font-family: "PressStart2P", Arial, Helvetica, sans-serif;
        font-size: 9px;
        text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
        padding: 0 10px;
      } // a

      &.active,
      &:hover {
        a {
          color: darken(site-color('txtlink'), 10);
          text-shadow: none;
        } // a
      } // .active, :hover
      
      &:first-child {
        a {
          padding-left: 0;
        } // a
      } // :first-child
      
      &:last-child {
        a {
          padding-right: 0;
        } // a
      } // :last-child
    } // li

    &-container {
      // position: relative;
    } // -container
  } // .nav_list

  @include breakpoint($desktop) {
    padding: 40px 40px 0 0;

    .nav_list {
      li {
        border-bottom:3px solid #fff;

        a {
          padding: 0 15px;
          font-size: 16px;
        } // a
      } // li
    } // .nav_list
  } // bp ($desktop)

  @include breakpoint($common) {
    .nav_list {
      li {
        a {
          padding: 0 20px;
        } // a
      } // li
    } // .nav_list
  } // bp($common)

  @include breakpoint($widescn) {
    padding: 60px 60px 0 0;

    .nav_list {
      li {
        border-bottom:5px solid #fff;
        a {
          padding: 0 30px;
        } // a
      } // li
    } // .nav_list
  } // bp($common)
} // .main_nav